* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background: rgba(17, 17, 17, 0.9176470588);
}

/* -----------   Trabajamos con el Header --------*/
.navbar {
  background: -webkit-radial-gradient(#560e86, #0a0011);
}

.navbar-toggler i {
  color: black;
  padding-left: 10px !important;
}

.nav-link:hover {
  background-color: #333;
}

.jumbo {
  background-image: url(../multimedia/bocha.jpg);
  background-size: cover;
  background-position: center;
  height: 450px;
}

h1,
p {
  text-align: right;
  margin: 25px;
  color: #560e86;
  text-shadow: 1px 1px 4px black;
}

.principio {
  text-align: center;
  background: -webkit-radial-gradient(#560e86, #0a0011);
  color: orange;
  padding: 15px;
  margin-bottom: 0;
  text-decoration: underline;
}

.izq {
  background-image: url(../multimedia/portada-home.jpg);
  margin-top: 58px;
  background-size: cover;
  background-position: center;
  height: 550px;
}

.der {
  padding: 50px;
  font-family: "Luckiest Guy", cursive;
  text-align: center;
}

.der h3 {
  text-decoration: underline;
  color: orange;
}

.der p {
  font-family: "Luckiest Guy", cursive;
  text-align: left;
}

.container11 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: -webkit-radial-gradient(#560e86, #0a0011);
}

.container11 #container11 {
  font-size: 40pt;
  font-weight: bold;
  position: relative;
  font-family: "Fredoka One";
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.container11 #container11::before {
  content: var(--l);
  position: absolute;
  transform: scale(1.1);
  filter: blur(15px);
}

.container11 #container11::after {
  content: var(--l);
  position: absolute;
  top: 80%;
  left: 0;
  filter: blur(30px);
  transform: rotate(50deg);
}

.container11 #container11:hover {
  filter: contrast(250%);
}

.container11 #container11:nth-child(1) {
  color: #00bef8;
}

.container11 #container11:nth-child(2) {
  color: #ff0697;
}

.container11 #container11:nth-child(3) {
  color: #ff4d00;
}

.container11 #container11:nth-child(4) {
  color: #ffe600;
}

.container11 #container11:nth-child(5) {
  color: #bb00ff;
}

.container11 #container11:nth-child(6) {
  color: #26ff00;
}

.container11 #container11:nth-child(7) {
  color: #00bef8;
}

.galeria {
  background-color: #333;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(8, 200px);
  padding: 20px;
  grid-gap: 20px;
}

.item {
  border: 3px solid black;
  background-size: cover;
  background-position: center;
}

.item1 {
  background-image: url(../multimedia/galeria01.jpg);
}

.item2 {
  background-image: url(../multimedia/galeria03.jpg);
}

.item3 {
  background-image: url(../multimedia/galeria02.jpg);
}

.item4 {
  background-image: url(../multimedia/galeria05.jpg);
}

.item5 {
  background-image: url(../multimedia/galeria04.jpg);
}

.item6 {
  background-image: url(../multimedia/galeria07.jpg);
}

.item7 {
  background-image: url(../multimedia/galeria06.jpg);
}

.item8 {
  background-image: url(../multimedia/galeria08.jpg);
}

@media only screen and (min-width: 480px) {
  .galeria {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 200px);
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024) {
  .galeria {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .item1 {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .item2 {
    grid-column: 3/4;
    grid-row: 1/2;
  }
  .item3 {
    grid-column: 1/2;
    grid-row: 2/4;
  }
  .item4 {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .item5 {
    grid-column: 3/4;
    grid-row: 2/3;
  }
  .item6 {
    grid-column: 2/3;
    grid-row: 3/3;
  }
  .item7 {
    grid-column: 3/4;
    grid-row: 3/4;
  }
  .item8 {
    grid-column: 1/4;
    grid-row: 4/4;
  }
}
@media only screen and (min-width: 1025px) {
  .galeria {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 200px 200px;
  }
}
.youtube {
  text-align: center;
  background: -webkit-radial-gradient(#560e86, #0a0011);
  color: orange;
  padding: 15px;
  margin-bottom: 0;
  text-decoration: underline;
}

.container-tutorial {
  background-color: #333;
}

.table-responsive {
  background-color: #333;
}

footer {
  background: -webkit-radial-gradient(#560e86, #0a0011);
}

footer p {
  text-align: center;
  color: orange;
  font-size: 20px;
}

.logos {
  background-color: orange;
  color: black;
  text-align: center;
}

.derecha h3 {
  text-align: center;
  font-size: 30px;
  color: springgreen;
  text-shadow: 0 0 3px black;
  margin-top: 20px;
}

.derecha p {
  text-align: center;
  color: #fff;
}

.nadar {
  color: #560e86;
}

#container {
  width: 70vw;
  max-width: 100%;
  min-width: 70%;
  margin: auto;
}

img {
  width: 100%;
  border-radius: 15px;
}

#container img {
  height: 500px;
}

#container1 img {
  height: 500px;
}

#container2 img {
  height: 550px;
  background-size: contain;
}

#container3 img {
  height: 500px;
}

#container4 img {
  height: 500px;
}

@media only screen and (max-width: 330px) {
  #container,
  #container1,
  #container2,
  #container3,
  #container4 {
    width: 70%;
    margin: auto;
  }
}
@media only screen and (min-width: 330px) and (max-width: 575px) {
  #container,
  #container1,
  #container2,
  #container3,
  #container4 {
    width: 70%;
    margin: auto;
  }
}
.subtitulo {
  text-align: center;
  color: black;
  background-color: darkorange;
  text-decoration: none;
}

.carousel-item {
  height: 500px;
}

.carousel-item img {
  width: 55%;
  height: 100%;
  background-size: contain;
  object-fit: cover;
  margin: auto;
}

.navbar {
  background-color: dodgerblue;
}

.r1 {
  color: orange;
  text-shadow: 2px 2px 4px black;
}

.navbar-toggler i {
  color: black;
  padding-left: 10px !important;
}

.nav-link:hover {
  background-color: #333;
}

.atr {
  margin-top: 20px;
  margin-bottom: 30px;
  color: orange;
  text-decoration: underline;
  text-align: center;
  text-shadow: 1.5px 1.5px 4px black;
}

.subrayado {
  text-decoration: underline;
  color: #560e86;
  text-align: center;
}

.contac {
  text-align: center;
}

.nombre {
  color: #560e86;
}

.recibido {
  text-decoration: underline;
  text-align: center;
  color: #fff;
  text-shadow: 1.5px 1.5px 3px #560e86;
  padding-bottom: 15px;
  margin-top: 25px;
  margin-bottom: 20px;
}

label {
  color: yellow;
  margin-left: 15px;
}

form {
  text-decoration: underline;
}

button .click {
  border: 0;
  background-image: linear-gradient(150deg #26ff00, rgb(238, 255, 0), #ff0800);
  display: inline-flex;
  border-radius: 8px;
  color: dodgerblue;
  font-size: 18px;
  cursor: pointer;
  transition: 3s;
}

button .click {
  background-color: #111;
  padding: 12px 16px;
  border-radius: 6px;
  transition: 3s;
}

button:hover .click {
  background: rgba(135, 220, 79, 0.9843137255);
}

button:active {
  transform: scale(0.9);
}

footer,
div,
.hugo {
  text-align: center;
  color: dodgerblue;
}

footer .redes {
  text-align: right;
}

.navbar-brand {
  background-color: black;
  color: #fff;
}

.nav-link {
  color: #fff;
}

.container10 {
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3rem;
}

.container10 #container10 {
  animation: glow 2s ease-in-out infinite;
}

@keyframes glow {
  0%, 100% {
    color: #fff;
    text-shadow: 0 0 12px lime, 0 0 50px lime, 0 0 100px;
  }
  10%, 90% {
    color: black;
    text-shadow: none;
  }
}
.container10 > #container10:nth-child(2) {
  animation-delay: 0.25s;
}

.container10 > #container10:nth-child(3) {
  animation-delay: 0.5s;
}

.container10 > #container10:nth-child(4) {
  animation-delay: 0.75s;
}

.container10 > #container10:nth-child(5) {
  animation-delay: 1s;
}

.container10 > #container10:nth-child(6) {
  animation-delay: 1.25s;
}

.container10 > #container10:nth-child(7) {
  animation-delay: 1.5s;
}

.container10 > #container10:nth-child(8) {
  animation-delay: 1.75s;
}

.container10 > #container10:nth-child(9) {
  animation-delay: 2s;
}

p,
em {
  color: #fff;
  font-size: 16px;
}

.-left,
em {
  color: #fff;
  font-size: 16px;
  text-align: left;
}

.mascota2 {
  text-align: center;
  color: orange;
  margin-bottom: 30px;
}

h4 {
  text-align: center;
  color: orange;
  text-decoration: underline;
  margin-bottom: 30px;
}

#container7 {
  width: 70vw;
  max-width: 100%;
  min-width: 70%;
  margin: auto;
}

img {
  width: 100%;
  border-radius: 15px;
  height: auto;
}

.lectura .historial p {
  font-family: "Yatra One", cursive;
  margin-bottom: 40px;
}

.objetivos {
  padding-top: 65px;
}

.club {
  text-align: center;
  color: dodgerblue;
  font-size: 20px;
}

footer a {
  margin-top: 10px;
  color: orange;
  letter-spacing: 15px;
  font-size: 40px;
}

.animacion {
  margin-top: 25px;
  margin-bottom: 60px;
  color: #560e86;
  z-index: 2;
  background-color: transparent;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  text-shadow: 5px 5px 5px black;
}

#container20 {
  position: relative;
  width: 100%;
  height: 80vh;
  overflow: hidden;
  background-image: url(../multimedia/novedades01.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.club {
  text-align: center;
  color: dodgerblue;
  font-size: 20px;
}

footer a {
  margin-top: 10px;
  color: orange;
  letter-spacing: 15px;
  font-size: 40px;
}

/*# sourceMappingURL=etiqueta.css.map */
